<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SQSAdmin_WpfCustomControlLibrary.MySetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISQSAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:40:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" maxBufferPoolSize="41943040" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true" allowCookies="false" />
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:51809/SQSAdminService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISQSAdminService"
        contract="SQSAdminWCFService.ISQSAdminService" name="WSHttpBinding_ISQSAdminService">
        <identity>
          <userPrincipalName value="FrankZhao@methomes.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <SQSAdmin_WpfCustomControlLibrary.MySetting>
      <setting name="SearchProductID" serializeAs="String">
        <value/>
      </setting>
      <setting name="SearchProductName" serializeAs="String">
        <value/>
      </setting>
      <setting name="SearchProsuctDesc" serializeAs="String">
        <value/>
      </setting>
    </SQSAdmin_WpfCustomControlLibrary.MySetting>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
