<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SQSAdmin.Properties.Settings.PMO006AdminLive" connectionString="Data Source=PM-SQLCLUSTER;Initial Catalog=PMO006;Persist Security Info=True;User ID=sqs;Password=password" providerName="System.Data.SqlClient"/>
    <add name="SQSAdmin.Properties.Settings.PMO006AdminTest" connectionString="Data Source=VM-SQLDEVMEL01;Initial Catalog=PMO006_dev2;Persist Security Info=True;User ID=sqs;Password=password" providerName="System.Data.SqlClient"/>
    <add name="SQSAdmin.Properties.Settings.PMO006AdminDev" connectionString="Data Source=sqlclus05\inst1;Initial Catalog=PMO006;Persist Security Info=True;User ID=sqs;Password=password" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LOG_FILE" value="ADMIN_LOG.TXT"/>
    <add key="LOG_FILE_DIRECTORY" value="C:\SQSADMINLOG"/>
    <add key="LOG_DATE_FORMAT" value="dd/MM/yyyy HH:mm"/>
    <add key="LOG_TO_EVENT" value="false"/>
    <add key="SUPPORT_EMAIL" value="frankzhao@metricon.com.au"/>
    <add key="Version" value="V3.9.5"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ResizeImageWidth" value="800"/>
    <add key="ResizeImageHeight" value="600"/>
    <add key="BackColor" value="#ccddff"/>
    <add key="Dev-path" value="#ccddff"/>
    <add key="UAT-path" value="#ccddff"/>
    <add key="PROD-path" value="#ccddff"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
    <httpRuntime maxRequestLength="2147483647"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISQSAdminService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" maxBufferPoolSize="41943040" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" allowCookies="false"/>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:51809/SQSAdminService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISQSAdminService" contract="SQSAdminWCFService.ISQSAdminService" name="WSHttpBinding_ISQSAdminService">
        <identity>
          <userPrincipalName value="FrankZhao@methomes.local"/>
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
</configuration>
